In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [7]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [15]:
Base = automap_base()

# reflect an existing database into a new model
Base.prepare(engine, reflect=True)

measurement = Base.classes.measurement
station = Base.classes.station

# reflect the tables

# measurement_table = Table('measurement', measurement, autoload=True, autoload_with=engine)

In [16]:
for class_ in Base.classes:
    print(class_)

<class 'sqlalchemy.ext.automap.measurement'>
<class 'sqlalchemy.ext.automap.station'>

In [ ]:
# 

# Save references to each table

In [20]:
# Create our session (link) from Python to the DB

conn = engine.connect()
data = pd.read_sql ("SELECT * FROM station", conn)
print(data)

   id      station                                    name  latitude  \
0   1  USC00519397                    WAIKIKI 717.2, HI US  21.27160
1   2  USC00513117                    KANEOHE 838.1, HI US  21.42340
2   3  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US  21.52130
3   4  USC00517948                       PEARL CITY, HI US  21.39340
4   5  USC00518838              UPPER WAHIAWA 874.3, HI US  21.49920
5   6  USC00519523      WAIMANALO EXPERIMENTAL FARM, HI US  21.33556
6   7  USC00519281                     WAIHEE 837.5, HI US  21.45167
7   8  USC00511918       HONOLULU OBSERVATORY 702.2, HI US  21.31520
8   9  USC00516128            MANOA LYON ARBO 785.2, HI US  21.33310

   longitude  elevation
0 -157.81680        3.0
1 -157.80150       14.6
2 -157.83740        7.0
3 -157.97510       11.9
4 -158.01110      306.6
5 -157.71139       19.5
6 -157.84889       32.9
7 -157.99920        0.9
8 -157.80250      152.4

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# BONUS

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))